.form.error input,
.form.error textarea {
    border: 3px solid red;
}

.form.error span {
    color: red;
}

.textarea {
    display: block;
    /*border: 3px solid gold;*/
    width: 100%;
    height: 100%;
    resize: none;
}