.user {
    border: 2px dashed blue;
    padding: 20px;
    margin-bottom: 5px;
}

.user img {
    width: 200px;
    height: 150px;
}

.toggle_page {
    padding-left: 40%;
    font-size: 26px;
}

.selected {
    color: red;
}