.myPost {
    margin: 10px;
    /*border:  2px solid red;*/
}

.posts {
    /*border: 2px solid blueviolet;*/
}

.newPost {
    /*border: 2px solid black;*/
    position: relative;
}

.addPostButton {
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.submitPost {
    border: none;
    background: inherit;
}

.submitPost:hover {
    color: #24ccff;
    transition: color .25s;
}

.submitPost,
.submitPost:active,
.submitPost:focus {
    outline: none;
}
