.item {
    padding-left: 5px;
    font-family: 'Zilla Slab', 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}

.item a {
    color: #424445;
    text-decoration: none;
}

.item:hover {
    background: #808587;
}

.item a.activeLink {
    color: #b8a679;
}

.navigationIcon {
    padding-right: 10px;
}

