/*.nav {*/
/*    grid-area: n;*/
/*    border-radius: 15px;*/
/*    background-color: rgba(241, 241, 241, 0.808);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    padding: 10px;*/
/*}*/

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}