.item {
    padding-left: 5px;
    font-family: 'Zilla Slab', 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
}

a .item{
    color: #424445;
    text-decoration: none;
    transition: color .3s;
}

.item:hover {
    background: #808587;
    color: #adc6ff;
}

.activeLink {
    color: #0355f8;
}

.navigationIcon {
    padding-right: 10px;
}

