.authIsLogin {
    position: absolute;
    right: 15px;
    top: 4px;
    padding: 0px;
    line-height: initial;
}

.iconLogin {
    border: 1px solid black;
}

.photoLogin {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

.btnLogIn {
    background: darkmagenta;
}