.content img {
    display: block;
    width: 100%;
    height: auto;
}

.description {
    margin: 10px;
}

.container_ava {
    /* position: relative; */
}
.ava {
    margin-left: 0px;
    width: 200px;
    height: 200px;
}