.content {
    box-sizing: border-box;
}

.content img {
    width: 200px;
    height: 200px;
}

.description {
    margin: 10px;
}

.information {
    display: inline-block;
    /*border: 1px solid green;*/
    width: calc(100% - 200px);
    padding-left: 10px;
    height: auto;
    vertical-align: top;
}

.container_ava {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
}

.ava {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0px;
}

.fileform {
    position: absolute;
    height: 26px;
    width: 100%;
    bottom: 0px;
    opacity: 0;
    background: gray;
    transition: opacity 0.4s;
}

.fileform:hover {
    opacity: .8;
    color: black;
}

.fileform .selectbutton {
    font-family: 'Zilla Slab', 'Ubuntu Condensed', sans-serif;
    position: absolute;
    right: 44px;
}

.fileform input {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.fullName {
    font-size: 24px;
}
