.toggle_page {
    border: 2px solid red;
    overflow-x: auto;
    padding-left: 5%;
    font-size: 26px;
}

.selected {
    color: red;
}

.pages {
    overflow: auto;
    padding: 5px;
}

.page {
    border: 1px solid black;
    border-radius: 2px;
    margin-right: .5%;
    padding: 4px;
}

.buttons {
    display: inline;
}