.loginPage {
    width: 400px;
    margin: 20px auto;
    height: 50px;
}

.sentence {
    text-align: center;
}

.commonError {
    margin-top: 5px;
    padding: 5px;
    color: red;
}

.captcha {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

