.loginPage {
    width: 400px;
    margin: 20px auto;
    height: 50px;
}

.sentence {
    text-align: center;
}

.commonError {
    padding: 5px;
    border: 1px solid red;
    color: red;
}

/*.nameField, .passwordField {*/
/*    height: 30px;*/
/*    width: 300px;*/
/*    margin: 5px;*/
/*}*/

