.container {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.headerAtdn {
    background: #d3adf7;
    border-radius: 15px;
    margin-bottom: 5px;
}

.navigationAtdn {
    background: #ffccc7;
    border-radius: 15px;
    margin-right: 5px;
    width: 20%;
}

.contentAtdn {
    background: #adc6ff;
    border-radius: 15px;
    width: 80%;
}

.contentAtdn::-webkit-scrollbar { width: 0; }

.layout {
    height: 100vh;
}

.foot {
    background: #87e8de;
    border-radius: 15px;
    margin-top: 5px;
}